@model IEnumerable<Briefing.Models.Cidade>

<div class="container">

    <h2 class="title_container">Alunos por cidades</h2>

    <table id="table_alunos" class="content_table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome da Cidade</th>
                <th>Estado</th>
                <th class="table_td_icons">Visualizar Alunos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstadoNome)</td>
                    <td class="table_td_icons">
                        <a href="@Url.Action("Details","AlunosPorCidades", new { id = item.Id})">
                            <span class="material-icons">
                                wysiwygs
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
