@model Briefing.Models.Aluno

<div class="container">

    @using (Html.BeginForm())
    {
        <div class="form">
            @Html.AntiForgeryToken()

            <div class="form-title">
                <a class="button_circle_form left" href="@Url.Action("Index")">
                    <span class="material-icons">arrow_back</span>
                </a>
                <h2 class=''>Cadastrar Aluno</h2>
            </div>

            <h2 class='field'>Aluno</h2>

            <p class='field required'>
                <label class='label required' for='name'>Nome</label>
                <input class='text-input' id='name' name='Aluno.Nome' required type='text' value=''>
            </p>
            <p class='field required half'>
                <label class='label required' for='cpfAluno'>CPF</label>
                <label class="valid_cpf hide cpf_aluno">CPF inválido.</label>
                <input class='cpf text-input' id='cpfAluno' name='Aluno.Cpf' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='sexo'>Sexo</label>
                <input class='text-input' id='sexo' name='Aluno.Sexo' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='telefone'>Telefone</label>
                <input class='text-input' id='telefone' name='Aluno.Telefone' required type='tel'>
            </p>
            <p class='field required half'>
                <label class='label required' for='rg'>Rg</label>
                <input class='text-input' id='rg' name='Aluno.Rg' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='dataNascimento'>Data de Nascimento</label>
                <input class='text-input' id='dataNascimento' name='Aluno.DataNascimento' required type='date'>
            </p>
            <p class='field required half'>
                <label class='label required' for='matricula'>Matricula</label>
                <input class='text-input' id='matricula' name='Aluno.Matricula' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='idade'>Idade</label>
                <input class='text-input' id='idade' name='Aluno.Idade' required type='number'>
            </p>
            <p class='field required half'>
                <label class='label required' for='email'>E-mail</label>
                <input class='text-input' id='email' name='Aluno.Email' required type='email'>
            </p>

            <h2 class='field'>Endereço</h2>

            <p class='field required half'>
                <label class='label required' for='rua'>Rua</label>
                <input class='text-input' id='rua' name='Aluno.Endereco.Rua' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='bairro'>Bairro</label>
                <input class='text-input' id='bairro' name='Aluno.Endereco.Bairro' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='cep'>CEP</label>
                <input class='text-input' id='cep' name='Aluno.Endereco.Cep' required type='text'>
            </p>
            <p class='field required half'>
                @Html.LabelFor(model => model.Endereco.IdCidade, "Cidade", htmlAttributes: new { @class = "label", @for = "cidade" })

                @Html.DropDownList("Aluno.Endereco.IdCidade", (SelectList)ViewBag.IdCidade, htmlAttributes: new { @class = "text-input", @required = "required" })
            </p>

            <h2 class='field'>Pai</h2>

            <p class='field required'>
                <label class='label required' for='nomePai'>Nome</label>
                <input class='text-input' id='nomePai' name='Aluno.Pai.Nome' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='rgPai'>Rg</label>
                <input class='text-input' id='rgPai' name='Aluno.Pai.Rg' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='cpfPai'>Cpf</label>
                <label class="valid_cpf hide cpf_pai">CPF inválido.</label>
                <input class='text-input' id='cpfPai' name='Aluno.Pai.Cpf' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='profissaoPai'>Profissão</label>
                <input class='text-input' id='profissaoPai' name='Aluno.Pai.Profissao' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='celularPai'>Celular</label>
                <input class='text-input' id='celularPai' name='Aluno.Pai.Celular' required type='text'>
            </p>

            <h2 class='field '>Mãe</h2>

            <p class='field required'>
                <label class='label required' for='nomeMae'>Nome</label>
                <input class='text-input' id='nomeMae' name='Aluno.Mae.Nome' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='rgMae'>Rg</label>
                <input class='text-input' id='rgMae' name='Aluno.Mae.Rg' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label' for='cpfMae'>Cpf</label>
                <label class="valid_cpf hide cpf_mae">CPF inválido.</label>
                <input class='text-input' id='cpfMae' name='Aluno.Mae.Cpf' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='profissaoMae'>Profissão</label>
                <input class='text-input' id='profissaoMae' name='Aluno.Mae.Profissao' required type='text'>
            </p>
            <p class='field required half'>
                <label class='label required' for='celularMae'>Celular</label>
                <input class='text-input' id='celularMae' name='Aluno.Mae.Celular' required type='text'>
            </p>
            <p class='field half'>
                <input class='button button-submit' type='submit' value='Enviar'>
            </p>
        </div>

    }
</div>