

<div class="container">
    <div class="row">
        <a href="@Url.Action("relatorioAlunos","Relatorios")" class="card">
            <div class="card_header">
                <h2>Relatório de Alunos</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("relatorioCidades","Relatorios")" class="card">
            <div class="card_header">
                <h2>Relatório de Cidades</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>

        <a href="@Url.Action("relatorioAlunosPorCidade","Relatorios")" class="card">
            <div class="card_header">
                <h2>Relatório de Alunos por Cidade</h2>
            </div>
            <div class="card_footer">
                <p>Acessar</p>
            </div>
        </a>
    </div>
</div>
